<%= content_for :head do %>
<% end %>

<h2 align="center"> Pick a photo, and make a meme! </h2>

<% if @myfriendphotos != [] %>
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
		<% @myfriendphotos.each do |p| %>
		    <div class="box col2">
				<%= link_to image_tag(p.src), new_meme_path(:photo_id => p.id) %>
			</div>
		<% end %>
	</div>
	<div class="container" align="center">
		<div class="container" id="nav" align="center" style="display:none"><%= will_paginate @myfriendphotos %></div>
	</div>
<% else %>
<div class="container" align="center">
	<img src="/assets/loading.gif">
</div>
<% end %>


<% if @user.sign_in_count == 1 %>
<script type="text/javascript">
$(document).ready(function(){
	worker();
	function worker(){
		$.ajax({
			type: "GET",
			url: '/all_photos',
			dataType: "json",
			complete: function(response) {
				var contains = (window.location.href.indexOf('#loaded') > -1);
				if (response.responseText == "yes"){
					if(contains != true){
						window.location = window.location + "#loaded";
						window.location.reload();	
					};
					
				};
				if (response.responseText == "no"){
					setTimeout(worker, 1000);
					console.log(response.responseText);
				};
			}
		});	
	};
});
</script>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
      var $container = $('#masonry-container');
      $container.imagesLoaded( function(){
        $container.masonry({
          itemSelector: '.box',
          gutterWidth: 0,
          isResizable: true,
          columnWidth: function( containerWidth ) {
	    	return 226;
		  }
        });
      });

      $container.infinitescroll({
        navSelector  : "div.pagination",            
        nextSelector : "div.pagination a:first",    
        itemSelector : "div.box",       
        animate: true,
        extraScrollPx: 0,
        bufferPx : 10
       },
	       	function( newElements ) {
	       		var $newElems = $( newElements ).css({ opacity: 0 });
	       		$newElems.imagesLoaded(function(){
	       			$newElems.animate({ opacity: 1 });
	       			$container.masonry( 'appended', $newElems, true);
	       		});
	       	}
       	);
});
</script>
