// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: 'Nexa Bold';
    src: url('NexaBold.otf'); 
}

@font-face {
    font-family: 'Nexa Light';
    src: url('NexaLight.otf');
}

@font-face {
    font-family: 'Impact';
    src: url('Impact.ttf');
}

body{
	padding: 5px 0px 50px 0px;
}

.facebook{
	background: #3b5998;
	width: 80%;
	max-width: 275px;
	border-radius: 2px;
	padding: 20px 20px;
	cursor: pointer;
	margin-bottom: 15px;
	color: white;
	font-size: 18px;
	font-family: "Nexa Light";
}

.facebook:hover{
	background: #37528c;
}


#testdiv{
	position: relative;
	display: table;
}

.memeimg{
	position: relative;
	max-height: 550px;
}

#savebutton{
	width: 300px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Open Sans';
	font-size: 26px;
	margin-top: 10px;
}

.memecontainer{
	position: absolute;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	right: 0px;
	
}

.relativememe{
	position: relative;
}


.memetext{
	font-family: "Impact";
	color: white;
	border: none;
	background: transparent;
	text-shadow: 0px 0px 10px black;
	letter-spacing: 2px;
	font-size: 44px;
	resize: none;
	width: 100%;
	text-align: center;
	padding: 5px;
}

#bottomtext{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #EEEEEE;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #EEEEEE;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #EEEEEE;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #EEEEEE;
}