<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" align="center" id="footer">
  Compliments of
  <a href="https://twitter.com/abhiramesh8">@abhiramesh8</a> & 
  <a href="https://twitter.com/edwardlando">@edwardlando</a>
</nav>
