<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" align="center" id="footer">
  Created by
  <a href="https://twitter.com/abhiramesh8">@abhiramesh8</a> & 
  <a href="https://twitter.com/edwardlando">@edwardlando</a>
  with inspiration from 
  <a href="https://twitter.com/ssshah0624">@ssshah0624</a>
</nav>
